.top-bar span {
  font-size: 18px;
  padding: 1px 5px;
  margin-top: -2px;
}
.navbar-wrapper {
  background-color: #245799;
}
.footer {
  width: 100%;
  margin-top: 65em;
  background-color: #e5e5e5;
}
#id1 {
  margin-left: 10px;
  color: #245799;
  font-weight: bold;
}
#id2 {
  height: 210px;
  width: 745px;
  background-color: #245799;
  position: inherit;
}
#id3 {
  margin-top: 5em;
}
.card1 {
  margin-top: -12em;
  margin-left: 2em;
  color: white;
}
.img1 {
  position: absolute;
}
.img2 {
  position: absolute;
  margin-left: 250px;
  margin-top: -25px;
}
.img3 {
  position: absolute;
  margin-left: 470px;
  margin-top: -20px;
}
#p1 {
  margin-left: 70px;
  padding-top: 20px;
  height: 20px;
  width: 170px;
}
#p2 {
  margin-left: 320px;
  padding-top: 40px;
  height: 20px;
  width: 170px;
  margin-top: -55px;
}
#p3 {
  margin-left: 550px;
  padding-top: 50px;
  height: 20px;
  width: 170px;
  margin-top: -55px;
}
.di1 {
  margin-top: 10px;
  margin-left: 50px;
  height: 400px;
  width: 750px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.di2 {
  margin-top: 10px;
  margin-left: 50px;
  height: 400px;
  width: 350px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.di3 {
  float: left;
  font-size: 18px;
  padding-top: 5px;
  margin-left: 8px;
  color: #1f589e;
  font-weight: bold;
}
.di4 {
  float: left;
  margin-left: 260px;
  font-size: 15px;
  margin-top: -22px;
  color: #1f589e;
  font-weight: bold;
}

.di5 {
  height: 30px;
}
.di6 {
  height: 3em;
  width: 24.7em;
  padding-left: 2em;
  border: 12px solid white;
  border-radius: 4px;
  background-color: white;
  margin-top: -1.3em;
}
.di8 {
  height: 300px;
  width: 1170px;
  position: absolute;
  margin-top: 470px;
  margin-left: 50px;
}
.di9 {
  margin-top: 10px;
  height: 400px;
  width: 350px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.di10 {
  margin-top: 10px;
  margin-left: 50px;
  height: 400px;
  width: 350px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.di11 {
  margin-top: 10px;
  margin-left: 50px;
  height: 400px;
  width: 350px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.di12 {
  float: left;
}
.div13 {
  margin-left: 5em;
}
.footer4 {
  width: 1500px;
  background-color: #e5e5e5;
  margin-top: 2em;
}
#id4 {
  height: 150px;
  width: 1200px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.1) 70%
  );
}
h1 {
  color: white;
}
.card3 {
  margin-top: -11em;
  margin-left: 1.5em;
}
.div14 {
  margin-top: 8em;
  margin-left: 20em;
  height: 325px;
  width: 750px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
#id5 {
  margin-left: 18em;
  margin-top: 1.5em;
}
#id6 {
  margin-left: 37em;
  margin-top: -2.8em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.div15 {
  margin-top: 10px;
  margin-left: 50px;
  height: 450px;
  width: 350px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.div17 {
  float: left;
  font-size: 18px;
  padding-top: 5px;
  margin-left: 8px;
  color: #1f589e;
  font-weight: bold;
}

.div18 {
  float: left;
  margin-left: 250px;
  font-size: 15px;
  margin-top: -22px;
  color: #1f589e;
  font-weight: bold;
}
.div20 {
  float: left;
  margin-left: 300px;
  font-size: 15px;
  margin-top: -22px;
  color: #1f589e;
  font-weight: bold;
}
.div16 {
  height: 30px;
}
.div19 {
  height: 3em;
  width: 24.7em;
  padding-left: 2em;
  border: 12px solid white;
  border-radius: 4px;
  background-color: white;
  margin-top: -1.3em;
}
.footer5 {
  width: 1500px;
  background-color: #e5e5e5;
  margin-top: 2em;
}
h3 {
  margin-left: 2em;
}
h4 {
  margin-left: 6em;
}
.teambody {
  background-color: #f2f2f2;
}
.div21 {
  margin-top: 10px;
  margin-left: 50px;
  height: 400px;
  width: 320px;
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  float: left;
}
.div22 {
  height: 3em;
  width: 22.7em;
  padding-left: 2em;
  border: 12px solid white;
  border-radius: 4px;
  background-color: white;
  margin-top: -1.3em;
}
.div23 {
  float: left;
  margin-left: 270px;
  font-size: 15px;
  margin-top: -15px;
  color: #1f589e;
  font-weight: bold;
}
